
<section class="header d-flex justify-content-center">
  <div class="wrapper d-flex justify-content-between align-items-center">
    <a href="/list.html"><img class="header__logo" src="../../../../assets/images/logo_codegym.png" style="margin-left: -18px"/></a>
    <div class="header__contact d-flex">
      <div class="address flex-fill">
        <div class="d-flex">
          <img src="../../../../assets/images/map.svg" alt="" class="me-5"/>
          <div id="diaChi" class="d-flex flex-column">
            <p class="mb-3">103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang
              City, Vietnam</p>
            <p class="fs-4"><span class="fs-4">7,0 km from Danang Airport</span></p>
          </div>
        </div>
      </div>
      <div class="phone-email flex-fill">
        <div class="d-flex align-items-center mb-3">
          <img src="../../../../assets/images/telephone.svg" class="me-4" alt="">
          <span class="fs-4 text-dark">84-236-3847 333/888</span>
        </div>
        <div class="d-flex align-items-center">
          <img src="../../../../assets/images/envelope.svg" class="me-4" alt="">
          <span class="fs-4 text-dark">reservation@furamavietnam.com</span>
        </div>
      </div>
    </div>
  </div>
</section>



