<body class="d-flex flex-column" >
<app-header></app-header>
<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong id="inDam"><h1 class="card-title" style="color: red">Add Ben Xe</h1></strong>
        </div>
        <form style="background: aquamarine" [formGroup]="addFormReactive" (ngSubmit)="submitAddBenXe()" >
          <div class="card-body">
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >Mã Xe</label>
              <div class="input-group input-group-merge">
                <input type="text" class="form-control phone-number-mask" placeholder="Input Name" id="maXe"
                       formControlName="maXe" >

              </div>
              <span style="color: red" *ngIf="addFormReactive.controls.maXe.hasError('required')">Khong dc de trong</span>
              <span style="color: red" *ngIf="addFormReactive.controls.maXe.hasError('invalid') && addFormReactive.controls.maXe.touched">Đã tồn tại mã xe này</span>

            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" for="loaiXe">loai xe :</label>
              <select class="form-select" id="loaiXe" formControlName="loaiXe" >
                <option value="">----</option>
                <option *ngFor="let item of loaiXeList"  [ngValue]="item">
                  {{item.name}}
                </option>
              </select>
              <span style="color: red" *ngIf="addFormReactive.controls.loaiXe.hasError('required')">Khong dc de trong</span>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" for="nhaXe">nha xe :</label>
              <select class="form-select" id="nhaXe" formControlName="nhaXe" >
                <option value="">----</option>
                <option *ngFor="let item of nhaXeList"  [ngValue]="item">
                  {{item.name}}
                </option>
              </select>
              <span style="color: red" *ngIf="addFormReactive.controls.nhaXe.hasError('required')">Khong dc de trong</span>

            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" for="diemDi">diem di:</label>
              <select class="form-select" id="diemDi" formControlName="diemDi" >
                <option value="">----</option>
                <option *ngFor="let item of diemDiList"  [ngValue]="item">
                  {{item.name}}
                </option>
              </select>
              <span style="color: red" *ngIf="addFormReactive.controls.diemDi.hasError('required')">Khong dc de trong</span>

            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" for="diemDen">diem den :</label>
              <select class="form-select" id="diemDen" formControlName="diemDen">
                <option value="">----</option>
                <option *ngFor="let item of diemDenList"  [ngValue]="item">
                  {{item.name}}
                </option>
              </select>
              <span style="color: red" *ngIf="addFormReactive.controls.diemDen.hasError('required')">Khong dc de trong</span>

            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">

              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" >phone</label>
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control phone-number-mask" placeholder="Input Name" id="phone"
                         formControlName="phone" >
                </div>
                <span style="color: red" *ngIf="addFormReactive.controls.phone.hasError('required')">Khong dc de trong</span>
                <span style="color: red" *ngIf="addFormReactive.controls.phone.hasError('minlength')">it nhat 4 so</span>
                <span style="color: red" *ngIf="addFormReactive.controls.phone.hasError('maxlength')">nhieu nhat 9 so</span>

              </div>

              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" >email</label>
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control phone-number-mask" placeholder="Input Name" id="email"
                         formControlName="email" >
                </div>
                <span style="color: red" *ngIf="addFormReactive.controls.email.hasError('required')">Khong dc de trong</span>
                <span style="color: red" *ngIf="addFormReactive.controls.email.hasError('email')"> phai dung dinh dang</span>

              </div>

              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" >gioDi</label>
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control phone-number-mask" placeholder="Input Name" id="gioDi"
                         formControlName="gioDi" >
                </div>
                <span style="color: red" *ngIf="addFormReactive.controls.gioDi.hasError('required')">Khong dc de trong</span>

              </div>

              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
                <label class="form-label" >gioDen</label>
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control phone-number-mask" placeholder="Input Name" id="gioDen"
                         formControlName="gioDen" >

                </div>
                <span style="color: red" *ngIf="addFormReactive.controls.gioDen.hasError('required')">Khong dc de trong</span>

              </div>

              <div class="col-xl-12 col-md-12 col-sm-12 mb-2">

                <button class="btn btn-danger" type="submit">Add</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
</body>

