<app-navigation></app-navigation>
<div>
  <table class="table table-warning" border="40" style="text-align: center">
    <thead class="thead-inverse">
    <tr style="color: red">

      <th>Stt</th>
      <th>Số xe</th>
      <th>Loại xe</th>
      <th>Tên Nhà Xe</th>
      <th>Điểm đi</th>
      <th>Điểm đến</th>
      <th>Số điện thoai</th>
      <th>Email</th>
      <th>Giờ đi</th>
      <th>Giờ đến</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of benXeList['content']; let i = index">
      <td>{{i + 1 + benXeList.number * benXeList.size}}</td>
      <td>{{item.maXe}}</td>
      <td>{{item.loaiXe?.name}}</td>
      <td>{{item.nhaXe?.name}}</td>
      <td>{{item.diemDi?.name}}</td>
      <td>{{item.diemDen?.name}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
      <td>{{item.gioDi}}</td>
      <td>{{item.gioDen}}</td>
      <td>
        <button class="btn btn-danger">
          <a routerLink="/benXe/edit/{{item.id}}">Edit</a>
        </button>
      </td>
      <td>
        <button type="button" (click)="remove = item" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" style="float: right;margin-right: 10px; margin-top: 10px">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="previousPage()">Trang trước</button>
      </li>
      <li class="page-item">
        <p style="font-weight: bold" class="page-link">{{benXeList['number'] + 1}}</p>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="nextPage()">Trang sau</button>
      </li>
    </ul>
  </nav>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>Do you want to delete so Xe </span><span style="color: red">{{remove.maXe}}</span><span>?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="deleteXe()" data-bs-dismiss="modal" class="btn btn-danger">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
