
  <nav class="navbar navbar-expand-sm " style="width: 100%; "  align="center" >
    <div class="wrapper  d-flex" style="margin-left: 15%; ">
    <ul class="list d-flex text-bg-light">
      <li class="list__item d-flex justify-content-center align-items-center"><a routerLink="">Home</a>
      </li>


      <li class="list__item d-flex justify-content-center align-items-center"><a routerLink="/benXe">BenXe</a>
      </li>

      <li class="list__item d-flex justify-content-center align-items-center"><a routerLink="/benXe/add">Add Ben Xe</a>
      </li>
    </ul>
    </div>
  </nav>


